# Primera entrega ML

### Título de proyecto

In [ ]:
# Escribir el título de proyecto en Markdown
titulo = "Precio de los coches de 2ª mano"

### Tema

In [6]:
# Describir el tema en Markdown

Basandonos en el dataset de precios de coches de segunda mano de uno de los principales portales, voy a entrenar un modelo que prediga los precios de los coches acorde a sus características

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

In [ ]:
tipo_ml = "Intentare aplicar las 2 una para el precio y otra para el precio financiado" # Regresión? Clasificación?
target_descr = "La variable objetivo es el precio y el precio financiado" # Descripción de la variable objetivo
metricas = ['make', model, version, fuel, year, kms, power, doors, sift, color, is_profesional, province, country, publish_date, insert_date] # Metricas escogidas para evaluar los modelos

In [ ]:
# dasets y enlaces de datasets en Markdown
enlaces = ['https://www.kaggle.com/datasets/datamarket/venta-de-coches'] # ["www.paginacondatos.com", "www.paginawebscrapeada.com", "www.unaapi.com"]

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("data/coches.csv")

In [4]:
# load dataset
df.head()

,url,company,make,model,version,price,price_financed,fuel,year,kms,...,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
0,e158ae0ca53119ca199c28c36b5c2fcd,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,Toledo,SEAT Toledo 4p.,950,NaN,Diésel,2000.0,227000,...,4,Manual,Verde,5,False,0f4bb8455d27349b8273109b66a847f3,Navarra,Spain,2020-12-18 10:47:13,2021-01-15 00:00:00
1,ff267ebb7e700246f47f84f3db660b4b,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C1,CITROEN C1 PureTech 60KW 82CV Feel 5p.,6200,NaN,Gasolina,2017.0,50071,...,5,Manual,Blanco,6,True,Autos Raymara,Tenerife,Spain,2021-01-02 11:25:40,2021-01-15 00:00:00
2,de4b02db28ea7786c622b969be10c7c7,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit Connect,FORD Transit Connect Van 1.5 TDCi 100cv Ambien...,7851,7024.0,Diésel,2016.0,103000,...,4,Manual,Blanco,10,True,Auto 96,Barcelona,Spain,2020-12-16 10:51:45,2021-01-15 00:00:00
3,0449972a4d07594acf92e9a7dd28b39c,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Caravelle,VOLKSWAGEN Caravelle Largo 2.0 TDI 140 Comfort...,19426,NaN,Diésel,2014.0,120000,...,4,Manual,Blanco,9,True,Inniauto,Navarra,Spain,2020-11-25 11:09:14,2021-01-15 00:00:00
4,12c4fa49bd4fdf23f19ecf396d3f02ef,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit,FORD Transit 350 96kW L4 Ambiente Propulsion T...,22850,22800.0,Diésel,2017.0,107000,...,2,Manual,Blanco,4,True,"Autofleet España,s.l",Sevilla,Spain,2021-01-12 20:00:34,2021-01-15 00:00:00

In [5]:
# load dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              50000 non-null  object
 1   company          50000 non-null  object
 2   make             49998 non-null  object
 3   model            49995 non-null  object
 4   version          50000 non-null  object
 5   price            50000 non-null  int64
 6   price_financed   23563 non-null  float64
 7   fuel             49954 non-null  object
 8   year             49998 non-null  float64
 9   kms              50000 non-null  int64
 10  power            41472 non-null  float64
 11  doors            50000 non-null  int64
 12  shift            49889 non-null  object
 13  color            49406 non-null  object
 14  photos           50000 non-null  int64
 15  is_professional  50000 non-null  bool
 16  dealer           50000 non-null  object
 17  province         49994 non-null  object
 18  country          50000 non-null  object
 19  publish_date     50000 non-null  object
 20  insert_date      50000 non-null  object
dtypes: bool(1), float64(3), int64(4), object(13)
memory usage: 7.7+ MB