In [17]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

from lazypredict.Supervised import LazyRegressor

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

from sklearn.model_selection import train_test_split

In [31]:
df = pd.read_csv("../data/processed/train.csv")

In [32]:
train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)

In [33]:
X_train, X_val, y_train, y_val = train_test_split(train_set.drop(columns=["price"]), train_set[["price"]], test_size=0.2, random_state=42)

In [29]:
X_train

,Unnamed: 0,make,model,fuel,year,kms,power,doors,shift,color,is_professional,province
29549,35841,14,671,4,2020.00,10,100.00,5,1,881,True,29
5996,7315,60,445,4,2018.00,34580,150.00,5,1,3062,True,7
3311,4055,59,475,0,2019.00,15323,115.00,5,1,881,True,2
18019,21902,50,271,4,2019.00,11340,110.00,5,0,2592,True,45
20121,24440,69,191,0,2017.00,141000,102.00,4,1,881,True,20
...,...,...,...,...,...,...,...,...,...,...,...,...
38007,46059,59,417,0,2008.00,146000,105.00,5,1,3062,True,29
34508,41834,49,583,0,2004.00,306658,100.00,4,1,1577,False,42
16623,20195,49,584,0,2000.00,266000,90.00,5,1,1540,False,39
9641,11688,11,168,6,2020.00,2,225.00,5,0,2841,True,4
19905,24193,69,734,4,2020.00,13120,115.00,5,0,39,True,21

In [45]:
le = LabelEncoder()

X_train["color"] = le.fit_transform(X_train["color"])
X_train["province"] = le.fit_transform(X_train["province"])

X_val["color"] = le.fit_transform(X_val["color"])
X_val["province"] = le.fit_transform(X_val["province"])

In [46]:
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')

ohe.fit(X_train[['make']])

transformed_X_train = ohe.transform(X_train[['make']])
transformed_df = pd.DataFrame(transformed_X_train, columns=ohe.get_feature_names_out(['make']), index=X_train.index)
X_train_ohe = pd.concat([X_train, transformed_df], axis=1).drop(columns='make')

transformed_X_val = ohe.transform(X_val[['make']])
transformed_df = pd.DataFrame(transformed_X_val, columns=ohe.get_feature_names_out(['make']), index=X_val.index)
X_test_ohe = pd.concat([X_val, transformed_df], axis=1).drop(columns='make')

In [47]:
X_train_ohe["year"] = X_train_ohe["year"].astype("int16")
X_train_ohe["power"] = X_train_ohe["power"].astype("int16")
X_train_ohe["is_professional"] = X_train_ohe["is_professional"].astype("int8")

X_test_ohe["year"] = X_test_ohe["year"].astype("int16")
X_test_ohe["power"] = X_test_ohe["power"].astype("int16")
X_test_ohe["is_professional"] = X_test_ohe["is_professional"].astype("int8")

In [48]:
# Selecciona las columnas de tipo float
columnas_float = [columna for columna in X_train_ohe.columns if X_train_ohe[columna].dtype == "float64"]

# Convierte las columnas a tipo int
for columna in columnas_float:
    X_train_ohe[columna] = X_train_ohe[columna].astype("int8")
    X_test_ohe[columna] = X_test_ohe[columna].astype("int8")

In [13]:
import sys

sys.path.append("..")

In [14]:

print(sys.path)

import train

['c:\\Users\\cgdo2\\Documents\\Master Data\\DS_PT_09_2023\\Machine_Learning\\Proyecto\\src\\notebooks', 'C:\\Users\\cgdo2\\AppData\\Local\\Programs\\Python\\Python311\\python311.zip', 'C:\\Users\\cgdo2\\AppData\\Local\\Programs\\Python\\Python311\\DLLs', 'C:\\Users\\cgdo2\\AppData\\Local\\Programs\\Python\\Python311\\Lib', 'C:\\Users\\cgdo2\\AppData\\Local\\Programs\\Python\\Python311', 'c:\\Users\\cgdo2\\Documents\\Master Data\\DS_PT_09_2023\\.venv', '', 'c:\\Users\\cgdo2\\Documents\\Master Data\\DS_PT_09_2023\\.venv\\Lib\\site-packages', 'c:\\Users\\cgdo2\\Documents\\Master Data\\DS_PT_09_2023\\.venv\\Lib\\site-packages\\win32', 'c:\\Users\\cgdo2\\Documents\\Master Data\\DS_PT_09_2023\\.venv\\Lib\\site-packages\\win32\\lib', 'c:\\Users\\cgdo2\\Documents\\Master Data\\DS_PT_09_2023\\.venv\\Lib\\site-packages\\Pythonwin', '../', '../', '../', '..']

In [34]:
X_train

,Unnamed: 0,make,model,version,fuel,year,kms,power,doors,shift,color,is_professional,province
463,29013,RENAULT,Modus,RENAULT Modus Confort Dynamique 1.5dCi80 5p.,Diésel,2005.00,83000,80.00,5,Manual,Beige,True,Tarragona
28150,21414,NISSAN,X-TRAIL,NISSAN XTRAIL 1.6 dCi 4x4i NCONNECTA 7 pL 5p.,Diésel,2017.00,16736,130.00,5,Manual,Gris / Plata,True,Álava
11426,36203,VOLKSWAGEN,Passat,VOLKSWAGEN Passat 1.9 TDI AUTO VARIANT HIGHLIN...,Diésel,1999.00,226000,110.00,5,Manual,Azul,False,Sevilla
9422,27789,FORD,Kuga,FORD Kuga Titanium 1.5 EcoBoost 110kW 150CV 5p.,Gasolina,2020.00,0,150.00,5,Manual,Negro,True,Alicante
26438,28305,MERCEDES-BENZ,Clase E,MERCEDES-BENZ Clase E E 300 D ELEGANCE 4p.,Diésel,1997.00,180000,136.00,4,Manual,Verde,False,Zaragoza
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21625,6988,OPEL,Astra,OPEL Astra 1.7 CDTi Sport GTC 3p.,Diésel,2011.00,126000,110.00,3,Manual,Blanco (IMPRESIONANTE EQUIPACION OPC ),True,Toledo
26885,18439,AUDI,Q3,AUDI Q3 2.0 TDI 140cv Ambition 5p.,Diésel,2012.00,115000,140.00,5,Manual,Blanco,True,Barcelona
27217,46282,AUDI,Q2,AUDI Q2 sport ed 1.6 TDI 85kW 116CV S tronic 5p.,Diésel,2017.00,72000,116.00,5,Automático,Blanco,True,Valencia
3400,43838,RENAULT,Clio,RENAULT Clio Business Energy dCi 66kW 90CV 5p.,Diésel,2017.00,138176,90.00,5,Manual,Blanco,True,Sevilla
1735,38549,MERCEDES-BENZ,Clase C,MERCEDES-BENZ Clase C C Cabrio 220 d 2p.,Diésel,2017.00,39000,170.00,2,Manual,Blanco,False,Pontevedra

In [37]:
X_train = train.aplicar_label_encoder(X_train)

In [38]:
X_train

,Unnamed: 0,make,model,version,fuel,year,kms,power,doors,shift,color,is_professional,province
463,29013,RENAULT,465,RENAULT Modus Confort Dynamique 1.5dCi80 5p.,0,2005.00,83000,80.00,5,1,521,True,Tarragona
28150,21414,NISSAN,727,NISSAN XTRAIL 1.6 dCi 4x4i NCONNECTA 7 pL 5p.,0,2017.00,16736,130.00,5,1,1009,True,Álava
11426,36203,VOLKSWAGEN,513,VOLKSWAGEN Passat 1.9 TDI AUTO VARIANT HIGHLIN...,0,1999.00,226000,110.00,5,1,192,False,Sevilla
9422,27789,FORD,413,FORD Kuga Titanium 1.5 EcoBoost 110kW 150CV 5p.,4,2020.00,0,150.00,5,1,1653,True,Alicante
26438,28305,MERCEDES-BENZ,203,MERCEDES-BENZ Clase E E 300 D ELEGANCE 4p.,0,1997.00,180000,136.00,4,1,2155,False,Zaragoza
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21625,6988,OPEL,108,OPEL Astra 1.7 CDTi Sport GTC 3p.,0,2011.00,126000,110.00,3,1,762,True,Toledo
26885,18439,AUDI,539,AUDI Q3 2.0 TDI 140cv Ambition 5p.,0,2012.00,115000,140.00,5,1,557,True,Barcelona
27217,46282,AUDI,538,AUDI Q2 sport ed 1.6 TDI 85kW 116CV S tronic 5p.,0,2017.00,72000,116.00,5,0,557,True,Valencia
3400,43838,RENAULT,221,RENAULT Clio Business Energy dCi 66kW 90CV 5p.,0,2017.00,138176,90.00,5,1,557,True,Sevilla
1735,38549,MERCEDES-BENZ,197,MERCEDES-BENZ Clase C C Cabrio 220 d 2p.,0,2017.00,39000,170.00,2,1,557,False,Pontevedra

In [49]:
X_train_ohe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26396 entries, 18267 to 19987
Data columns (total 76 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          26396 non-null  int64
 1   fuel                26396 non-null  int64
 2   year                26396 non-null  int16
 3   kms                 26396 non-null  int64
 4   power               26396 non-null  int16
 5   doors               26396 non-null  int64
 6   shift               26396 non-null  int64
 7   color               26396 non-null  int32
 8   is_professional     26396 non-null  int8
 9   province            26396 non-null  int32
 10  make_ABARTH         26396 non-null  int8
 11  make_ALFA ROMEO     26396 non-null  int8
 12  make_ALPINE         26396 non-null  int8
 13  make_ASTON MARTIN   26396 non-null  int8
 14  make_AUDI           26396 non-null  int8
 15  make_BENTLEY        26396 non-null  int8
 16  make_BMW            26396 non-null  int8
 17  make_CADILLAC       26396 non-null  int8
 18  make_CHEVROLET      26396 non-null  int8
 19  make_CHRYSLER       26396 non-null  int8
 20  make_CITROEN        26396 non-null  int8
 21  make_CORVETTE       26396 non-null  int8
 22  make_CUPRA          26396 non-null  int8
 23  make_DACIA          26396 non-null  int8
 24  make_DAEWOO         26396 non-null  int8
 25  make_DAIHATSU       26396 non-null  int8
 26  make_DFSK           26396 non-null  int8
 27  make_DODGE          26396 non-null  int8
 28  make_DS             26396 non-null  int8
 29  make_FERRARI        26396 non-null  int8
 30  make_FIAT           26396 non-null  int8
 31  make_FORD           26396 non-null  int8
 32  make_GALLOPER       26396 non-null  int8
 33  make_HONDA          26396 non-null  int8
 34  make_HYUNDAI        26396 non-null  int8
 35  make_INFINITI       26396 non-null  int8
 36  make_ISUZU          26396 non-null  int8
 37  make_IVECO          26396 non-null  int8
 38  make_IVECO-PEGASO   26396 non-null  int8
 39  make_JAGUAR         26396 non-null  int8
 40  make_JEEP           26396 non-null  int8
 41  make_KIA            26396 non-null  int8
 42  make_LAMBORGHINI    26396 non-null  int8
 43  make_LANCIA         26396 non-null  int8
 44  make_LAND-ROVER     26396 non-null  int8
 45  make_LDV            26396 non-null  int8
 46  make_LEXUS          26396 non-null  int8
 47  make_LOTUS          26396 non-null  int8
 48  make_MAHINDRA       26396 non-null  int8
 49  make_MASERATI       26396 non-null  int8
 50  make_MAZDA          26396 non-null  int8
 51  make_MERCEDES-BENZ  26396 non-null  int8
 52  make_MG             26396 non-null  int8
 53  make_MINI           26396 non-null  int8
 54  make_MITSUBISHI     26396 non-null  int8
 55  make_NISSAN         26396 non-null  int8
 56  make_OPEL           26396 non-null  int8
 57  make_PEUGEOT        26396 non-null  int8
 58  make_PIAGGIO        26396 non-null  int8
 59  make_PONTIAC        26396 non-null  int8
 60  make_PORSCHE        26396 non-null  int8
 61  make_RENAULT        26396 non-null  int8
 62  make_ROVER          26396 non-null  int8
 63  make_SAAB           26396 non-null  int8
 64  make_SANTANA        26396 non-null  int8
 65  make_SEAT           26396 non-null  int8
 66  make_SKODA          26396 non-null  int8
 67  make_SMART          26396 non-null  int8
 68  make_SSANGYONG      26396 non-null  int8
 69  make_SUBARU         26396 non-null  int8
 70  make_SUZUKI         26396 non-null  int8
 71  make_TATA           26396 non-null  int8
 72  make_TESLA          26396 non-null  int8
 73  make_TOYOTA         26396 non-null  int8
 74  make_VOLKSWAGEN     26396 non-null  int8
 75  make_VOLVO          26396 non-null  int8
dtypes: int16(2), int32(2), int64(5), int8(67)
memory usage: 3.2 MB

In [50]:
X_train_ohe

,Unnamed: 0,fuel,year,kms,power,doors,shift,color,is_professional,province,...,make_SKODA,make_SMART,make_SSANGYONG,make_SUBARU,make_SUZUKI,make_TATA,make_TESLA,make_TOYOTA,make_VOLKSWAGEN,make_VOLVO
18267,22197,0,2020,1075,190,5,1,883,1,22,...,0,0,0,0,0,0,0,0,0,1
35086,42521,0,2005,136000,136,5,0,1166,1,32,...,0,0,0,0,0,0,0,0,0,0
3311,4055,0,2019,15323,115,5,0,636,1,2,...,0,0,0,0,0,0,0,0,0,0
18019,21902,1,2019,11340,110,5,1,1920,1,45,...,0,0,0,0,0,0,0,0,0,0
20121,24440,0,2017,141000,102,4,0,636,1,20,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20304,24665,1,2010,141000,184,3,0,2249,1,25,...,0,0,0,0,0,0,0,0,0,0
12127,14697,2,2019,25000,90,5,0,2249,1,29,...,0,0,0,0,0,0,0,0,0,0
2002,2449,0,2010,113922,150,5,0,1933,1,33,...,0,0,0,0,0,0,0,0,0,0
7954,9676,0,2005,290000,120,5,0,1920,1,49,...,0,0,0,0,0,0,0,0,0,0
19987,24288,1,2003,140000,115,3,1,2249,0,1,...,0,0,0,0,0,0,0,0,0,0

In [31]:
print(models[:10])

                               Adjusted R-Squared  R-Squared    RMSE  \
Model
ExtraTreesRegressor                          0.87       0.87 5795.23
RandomForestRegressor                        0.85       0.86 6168.35
XGBRegressor                                 0.85       0.85 6293.95
GradientBoostingRegressor                    0.85       0.85 6326.72
BaggingRegressor                             0.83       0.84 6557.37
LGBMRegressor                                0.83       0.83 6655.74
HistGradientBoostingRegressor                0.83       0.83 6693.98
PoissonRegressor                             0.82       0.82 6922.73
MLPRegressor                                 0.77       0.77 7693.81
KNeighborsRegressor                          0.75       0.75 8029.90

                               Time Taken
Model
ExtraTreesRegressor                 16.27
RandomForestRegressor               29.84
XGBRegressor                         0.32
GradientBoostingRegressor            5.07
BaggingRegressor                     2.98
LGBMRegressor                        0.31
HistGradientBoostingRegressor        1.42
PoissonRegressor                     0.16
MLPRegressor                        55.62
KNeighborsRegressor                  0.56

In [9]:
print(models)

                               Adjusted R-Squared  R-Squared     RMSE  \
Model
ExtraTreesRegressor                          0.89       0.89  5976.91
RandomForestRegressor                        0.88       0.88  6086.99
LGBMRegressor                                0.88       0.88  6208.48
BaggingRegressor                             0.87       0.87  6289.13
XGBRegressor                                 0.86       0.86  6519.10
HistGradientBoostingRegressor                0.86       0.86  6635.30
GradientBoostingRegressor                    0.85       0.85  6948.47
DecisionTreeRegressor                        0.78       0.78  8372.67
KNeighborsRegressor                          0.77       0.77  8451.96
PoissonRegressor                             0.77       0.77  8550.00
ExtraTreeRegressor                           0.73       0.73  9113.87
MLPRegressor                                 0.73       0.73  9165.00
LassoLarsIC                                  0.67       0.67 10173.06
Lars                                         0.67       0.67 10173.06
LarsCV                                       0.67       0.67 10173.06
LassoLarsCV                                  0.67       0.67 10173.06
LinearRegression                             0.67       0.67 10173.06
TransformedTargetRegressor                   0.67       0.67 10173.06
Ridge                                        0.67       0.67 10173.11
LassoLars                                    0.67       0.67 10173.23
Lasso                                        0.67       0.67 10173.24
BayesianRidge                                0.67       0.67 10173.42
RidgeCV                                      0.67       0.67 10173.56
LassoCV                                      0.67       0.67 10175.16
SGDRegressor                                 0.67       0.67 10178.20
OrthogonalMatchingPursuitCV                  0.67       0.67 10220.37
HuberRegressor                               0.61       0.61 10976.93
PassiveAggressiveRegressor                   0.61       0.61 11001.47
ElasticNet                                   0.59       0.59 11309.16
GaussianProcessRegressor                     0.55       0.55 11894.56
GammaRegressor                               0.55       0.55 11919.13
TweedieRegressor                             0.52       0.52 12255.25
RANSACRegressor                              0.51       0.51 12376.35
OrthogonalMatchingPursuit                    0.51       0.51 12395.20
LinearSVR                                    0.35       0.35 14244.74
AdaBoostRegressor                            0.33       0.33 14494.66
ElasticNetCV                                 0.14       0.14 16378.27
NuSVR                                        0.00       0.01 17635.47
DummyRegressor                              -0.00      -0.00 17696.72
SVR                                         -0.01      -0.00 17723.57
KernelRidge                                 -0.31      -0.31 20257.47

                               Time Taken
Model
ExtraTreesRegressor                 13.54
RandomForestRegressor               32.13
LGBMRegressor                        0.23
BaggingRegressor                     3.17
XGBRegressor                         0.22
HistGradientBoostingRegressor        0.50
GradientBoostingRegressor            5.22
DecisionTreeRegressor                0.42
KNeighborsRegressor                  1.07
PoissonRegressor                     0.03
ExtraTreeRegressor                   0.15
MLPRegressor                        19.08
LassoLarsIC                          0.03
Lars                                 0.02
LarsCV                               0.08
LassoLarsCV                          0.09
LinearRegression                     0.03
TransformedTargetRegressor           0.02
Ridge                                0.02
LassoLars                            0.03
Lasso                                0.12
BayesianRidge                        0.03
RidgeCV                              0.03
LassoCV                              0.24
SGDRegressor                         0.06
OrthogonalMatchingPursuitCV          0.05
HuberRegressor                       0.13
PassiveAggressiveRegressor           0.04
ElasticNet                           0.05
GaussianProcessRegressor           268.05
GammaRegressor                       0.13
TweedieRegressor                     0.03
RANSACRegressor                      0.19
OrthogonalMatchingPursuit            0.02
LinearSVR                            0.03
AdaBoostRegressor                    1.20
ElasticNetCV                         0.13
NuSVR                               23.25
DummyRegressor                       0.02
SVR                                 25.21
KernelRidge                        121.64

In [40]:
predictions.head()

,Adjusted R-Squared,R-Squared,RMSE,Time Taken
Model,,,,
ExtraTreesRegressor,0.89,0.89,5865.83,13.17
RandomForestRegressor,0.88,0.88,6089.13,28.87
LGBMRegressor,0.88,0.88,6166.05,0.18
BaggingRegressor,0.87,0.87,6384.21,3.07
HistGradientBoostingRegressor,0.86,0.86,6639.17,0.58

In [7]:
sc = StandardScaler()
sc.fit(X_train)
X_train_s = sc.transform(X_train)
X_test_s = sc.transform(X_val)

In [8]:
reg = LazyRegressor(verbose=0, ignore_warnings=True, custom_metric=None)
models, predictions = reg.fit(X_train_s, X_test_s, y_train, y_val)

100%|██████████| 42/42 [08:36<00:00, 12.30s/it]

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001454 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1472
[LightGBM] [Info] Number of data points in the train set: 26396, number of used features: 13
[LightGBM] [Info] Start training from score 17287.713366

In [13]:
X_val.describe()

,Unnamed: 0,make,model,fuel,year,kms,power,doors,shift,color,photos,province
count,6600.00,6600.00,6600.00,6600.00,6600.00,6600.00,6600.00,6600.00,6600.00,6600.00,6600.00,6600.00
mean,24783.55,38.36,414.33,1.58,2013.88,96827.45,147.57,4.52,0.66,1580.05,18.64,25.62
std,14421.14,22.08,252.41,2.01,5.80,79552.73,71.89,0.85,0.47,915.18,12.24,14.76
min,3.00,0.00,1.00,0.00,1982.00,0.00,29.00,2.00,0.00,8.00,0.00,0.00
25%,12365.75,21.00,191.00,0.00,2011.00,29113.50,110.00,4.00,0.00,881.00,9.00,8.00
50%,24525.50,44.00,413.00,0.00,2016.00,84000.00,130.00,5.00,1.00,1577.00,15.00,29.00
75%,37184.50,55.00,639.00,4.00,2018.00,147000.00,163.00,5.00,1.00,2592.00,26.00,37.00
max,49993.00,70.00,878.00,6.00,2021.00,525000.00,700.00,5.00,1.00,3527.00,54.00,51.00

In [11]:
print(models[:10])

                               Adjusted R-Squared  R-Squared    RMSE  \
Model
ExtraTreesRegressor                          0.89       0.89 5976.91
RandomForestRegressor                        0.88       0.88 6086.99
LGBMRegressor                                0.88       0.88 6208.48
BaggingRegressor                             0.87       0.87 6289.13
XGBRegressor                                 0.86       0.86 6519.10
HistGradientBoostingRegressor                0.86       0.86 6635.30
GradientBoostingRegressor                    0.85       0.85 6948.47
DecisionTreeRegressor                        0.78       0.78 8372.67
KNeighborsRegressor                          0.77       0.77 8451.96
PoissonRegressor                             0.77       0.77 8550.00

                               Time Taken
Model
ExtraTreesRegressor                 13.54
RandomForestRegressor               32.13
LGBMRegressor                        0.23
BaggingRegressor                     3.17
XGBRegressor                         0.22
HistGradientBoostingRegressor        0.50
GradientBoostingRegressor            5.22
DecisionTreeRegressor                0.42
KNeighborsRegressor                  1.07
PoissonRegressor                     0.03

No vale la pena hacer una estadarización de los datos, el random forest mejora un poquito pero nada más

El mejor modelo es ExtraTreesRegressor seguido de RandomForestRegressor, por lo que voy a centrarme en estos 2